// Here you can add other styles
.nav-tabs{
  padding-bottom: 0;
}
.nav-tabs .nav-link.active,{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;background: rgb(242,242,243);
  background: linear-gradient(180deg, rgba(242,242,243,1) 0%, rgba(242,242,243,1) 47%, rgba(255,255,255,1) 100%);
}

.nav-item .nav-link{
  color: #5d5d5d;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item .asincselect{
  padding-top: 10px;
  padding-bottom: 6px;
}
.nav-item .asincselect.active{
  padding-top: 10px;
  padding-bottom: 6px;
}
.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}
